@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner_top{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
}

.meriendaBold{
  font-family: 'Merienda', cursive;
}

.body_color{
    background:#eff6e6;
}